@model IEnumerable<SapientiaFons.Models.Activity>

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Crear Nueva", "Create", "Activity", new { subjectId = ViewBag.SubjectId }, null)
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="col-md-3">
                    @Html.ActionLink("Editar", "Edit", "Activity", new { id = item.Id }, null) |
                    @Html.ActionLink("Detalles", "Details", "Activity", new { id = item.Id }, null) |
                    @Html.ActionLink("Borrar", "Delete", "Activity", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </table>
</div>