@model IEnumerable<SapientiaFons.Models.Material>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "Material", new { subjectId = ViewBag.SubjectId }, null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Material", new { id = item.Id }, null) |
                @Html.ActionLink("Detalles", "Details", "Material", new { id = item.Id }, null) |
                @Html.ActionLink("Borrar", "Delete", "Material", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
